<h1> <%= article.title %> </h1>

<div>
  content: <%= article.content %>
</div>

<div>
  Is Published: <%= article.isPublished %>
</div>

<div>
  Total Words: <%= article.totalWords %>
</div>

<div>
  Author: <%= article.author.name %>
</div>

<div>
  Created At: <%= moment(article.createdAt).fromNow() %>
</div>

<div>
  Updated At: <%= moment(article.updatedAt).fromNow() %>
</div>